
/*
*
Fondo del titulo del profesor
*
*/

.Fondo-Profesor{
    background-color: #F2F4FA;
    width: 30%;
    height: 300px;
    text-align: center;
    padding: 28px;
    padding: 28px;
    margin: -150px auto;
  }
  
/*
*
Estilo del contenedor Profesor
*
*/

.Texto-Profesor{
    font-size: 16px;
}

.Titulo-Profesor{
    margin-bottom: 20px;
}

/*
*
Estilo del contenedor central
*
*/
.contenedor-central{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.linea-central{
  border-bottom: 1px solid #000000;
  margin-top: -88px;

}

h3{
    width:30%;
    max-width:300px;
    padding:10px 10px;
    text-align: center;
    background-color: #F2F4FA;
    margin-top: 150px;
}

.imagen-Profe{
    background-image: url("FondoProfesores-Cursos.jpg");
    height: 430px;
  }

/*
*
Estilo del contenedor de los profesores
*
*/
.box{
      margin-top: 150px;
      margin-bottom: 100px;;
      display: grid;
      grid-template-columns: 20% 20% 15% 10% 15% 20%;
      align-items:center;
      justify-content:center;  

}

.box table:nth-child(even){
    grid-column: 3/7;
}
.box table:nth-child(odd){
  grid-column: 4/7;
}
/*
*
Estilos Buscador
*
*/
.buscador{
  margin: 80px auto;
  width: 300px;
  height: 50px;
}

.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #ffffff;
  border: none;
  float: left;
  color: #000000;
  padding-left: 45px;
  border-radius: 5px;
}

