
/*
*
Fondo del titulo del profesor
*
*/

.Fondo-Profesor{
    background-color: #F2F4FA;
    width: 45%;
    height: 300px;
    text-align: center;
    padding: 28px;
    padding: 28px;
    margin: -150px auto;
  }
  
/*
*
Estilo del contenedor Profesor
*
*/

.Texto-Profesor{
    font-size: 16px;
}

.Titulo-Profesor{
    margin-bottom: 20px;
}

/*
*
Estilo del contenedor central
*
*/
.contenedor-central{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.linea-central{
  border-bottom: 1px solid #000000;
  margin-top: -75px;

}

h3{
    width:30%;
    max-width:300px;
    padding:10px 10px;
    text-align: center;
    background-color: #F2F4FA;
    margin-top: 150px;
}

.imagen-Profe{
    background-image: url("FondoProfesores-Cursos.jpg");
    height: 430px;
  }

/*
*
Estilo del contenedor de los profesores
*
*/
.box{
  margin: 0 auto;
  width: 40%;
  display: grid;
  grid-template-columns: repeat(2,47%);
  text-align: center;

}

/*
*
Estilos Buscador
*
*/
.buscador{
  margin: 80px auto;
  width: 300px;
  height: 50px;
}

.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #ffffff;
  border: none;
  float: left;
  color: #000000;
  padding-left: 45px;
  border-radius: 5px;
}

