/*
*
Fondo del titulo del profesor
*
*/
.Fondo-Home{
    background-color: #F2F4FA;
    width: 45%;
    height: 300px;
    text-align: center;
    padding: 50px;
    margin: -150px auto;
  }
  
.SubTitulo-Contenedor-Home{
    margin-top:20px;
}

/*
*
Estilo del contenedor Profesor
*
*/
.Texto-Profesor{
    font-size: 16px;
}

.Titulo-Profesor{
    margin-bottom: 20px;
}

/*
*
Estilo del contenedor central
*
*/
.imagen-Profe{
    background-image: url("FondoHome.jpg");
    height: 430px;
  }

/*
*
Estilo del contenedor de los cursos
*
*/
.Titulo-Home-Cursos{
    display: flex;
    justify-content: center;
    margin-top: 150px;

}

.box{
    margin-top: 70px;
    margin-bottom: 50px;;
    display: grid;
    grid-template-columns: 20% 20% 15% 15% 15% 20%;
    grid-auto-rows: minmax(200px, auto);
    align-items:center;
    justify-content:center;  
}

.box table:nth-child(even){
  grid-column: 2/3;
}
.box table:nth-child(odd){
grid-column: 4/5;
}


table,td,th{
  border-spacing: 2ch;
  text-align: center;
  width: 50%;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);

}

